{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set previous_cycle_YMDH = previous_cycle | to_YMDH %}
target:
  - tarball : "{{ FETCHDIR }}/{{ cycle_YMDH }}/enkfgfs_grp1.tar"
    on_hpss: True
    contents:
        # select restart members files (80) specific to the cycle
        {% set mid_cyc = ("%02d" | format(previous_cycle_HH | int + half_window)) ~ "0000" %}

        {% set increment_mem_path = 'enkfgfs.' ~ current_cycle_YMD ~ '/' ~ current_cycle_HH ~ '/' ~ 'mem%03d' | format(gfs_member) ~ '/analysis/atmos/enkfgfs.t' ~ current_cycle_HH ~ 'z.' %}
        # Include increment files (ratmi003.nc and ratmi009.nc missing)
        {% for ftype in ["ratminc.nc"] %}
        - {{ increment_mem_path ~ ftype }}
        {% endfor %}

    destination: "{{ DATAROOT }}"

  - tarball : "{{ FETCHDIR }}/{{ previous_cycle_YMDH }}/enkfgdas_restartb_grp1.tar"
    on_hpss: True
    contents:
        # select restart members files (80) specific to the cycle
        {% set mid_cyc = ("%02d" | format(previous_cycle_HH | int + half_window)) ~ "0000" %}

        {% set restart_mem_path = 'enkfgdas.' ~ previous_cycle_YMD ~ '/' ~ previous_cycle_HH ~ '/' ~ 'mem%03d' | format(gfs_member) ~ '/model/atmos/restart/' ~ previous_cycle_YMD ~ '.' ~ mid_cyc ~ '.' %}
        - {{ restart_mem_path ~ 'coupler.res' }}
        - {{ restart_mem_path ~ 'fv_core.res.nc' }}
        {% set ntiles = 6 %}
        {% for ftype in ["fv_core.res", "fv_srf_wnd.res", "phy_data", "sfc_data", "fv_tracer.res", "ca_data"] %}
            # Include restart tile files (e.g., .tile1 to .tile6)
            {% for tile in range(1, ntiles + 1) %}
        - {{ restart_mem_path ~ ftype ~ '.tile' ~ tile ~ '.nc' }}
            {% endfor %}
        {% endfor %}

    destination: "{{ DATAROOT }}"
