{% set cycle_YMDH = current_cycle | to_YMDH %}
{% set cycle_YMD = current_cycle | to_YMD %}
{% set cycle_HH = current_cycle | strftime("%H") %}
{% set previous_cycle_YMDH = previous_cycle | to_YMDH %}
target:
  - tarball : "{{ FETCHDIR }}/{{ previous_cycle_YMDH }}/enkfgdas.tar"
    on_hpss: True
    contents:
        {% for ftype in ["atmf003", "atmf006", "atmf009"] %}
        {% set DIAU_cold_previous_file = 'gdas.' ~ previous_cycle_YMD ~ '/' ~ previous_cycle_HH ~ '/model/atmos/history/gdas.t' ~ previous_cycle_HH ~ 'z.' ~ ftype  ~ '.ensres.nc' %}
        - {{ DIAU_cold_previous_file }}
        {% endfor %}

    destination: "{{ DATAROOT }}"

  - tarball : "{{ FETCHDIR }}/{{ cycle_YMDH }}/gfs_netcdfa.tar" 
    on_hpss: True
    contents:
        {% for ftype in ["atminc", "atmi009", "atmi003"] %}
        {% set DIAU_cold_current_file =  'gfs.' ~ current_cycle_YMD ~ '/' ~ current_cycle_HH ~ '/analysis/atmos/gfs.t' ~ current_cycle_HH ~ 'z.' ~ ftype ~ '.nc' %}
        - {{ DIAU_cold_current_file }}
        {% endfor %}

    destination: "{{ DATAROOT }}"
